VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=worksheet-wizard-giri.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=worksheet-wizard-giri
VITE_FIREBASE_STORAGE_BUCKET=worksheet-wizard-giri.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=323998203920
VITE_FIREBASE_APP_ID=1:323998203920:web:22fbede0812aa638388a95
